<!DOCTYPE html>
<html class="style-purple-1  custom_fonts comps live_website unicorn-platform-website" lang="en">


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" href="https://receipt-fight.unicornplatform.page/" hreflang="en" />
	<link rel="stylesheet" href="static/css/main.css">
	<script src="static/js/main.js" defer></script>

	<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:700|Gudea:400,700&display=swap" rel="stylesheet" />
	<style>
		.custom_fonts .custom-google-fonts-enabled * {
			font-family: 'Gudea', Helvetica, sans-serif;
		}

		.custom_fonts .custom-google-fonts-enabled h1,
		.custom_fonts .custom-google-fonts-enabled h2,
		.custom_fonts .custom-google-fonts-enabled h3,
		.custom_fonts .custom-google-fonts-enabled h4,
		.custom_fonts .custom-google-fonts-enabled h5,
		.custom_fonts .custom-google-fonts-enabled h6 {
			font-family: 'Bai Jamjuree', Helvetica, serif;
		}
	</style>


	<link rel="icon" type="image/png" href="https://unicorn-cdn.b-cdn.net/efe197d7-0e39-4b77-a461-5ad7daf59a44/"
		sizes="16x16" />

	<!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://elonmu.sh/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MaaS | Musk as a Service">
    <meta property="og:description" content="Access Random News Articles with Our Free Public API - Stay Informed and Ahead of Trends!">
    <meta property="og:image" content="https://elonmu.sh/android-chrome-512x512.png">
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

	<!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="elonmu.sh">
    <meta property="twitter:url" content="https://elonmu.sh/">
    <meta name="twitter:title" content="MaaS | Musk as a Service">
    <meta name="twitter:description" content="Access Random News Articles with Our Free Public API - Stay Informed and Ahead of Trends!">
    <meta name="twitter:image" content="https://elonmu.sh/android-chrome-512x512.png">

    <title>MaaS | Musk as a Service</title>

</head>

<body class="custom-google-fonts-enabled comps" id="127109-252831">


	<nav id="uni-navigation-bar" class="js-nav nav-02 ">
		<div class="container container--large">
			<div class="nav-02__box">
				<div class="nav-02__logo"><a class="nav-02__link" href="/" target="_self">


						<span class="nav-02__logo_text ">elonmu.sh</span>

					</a></div>
				<div class="nav-02__links js-menu">
					<div class="nav-02__list_wrapper  ">
						<ul class="nav-02__list nav-02__list--desktop">








							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="/" target="_blank"><span
										class="button__text">Home</span>
								</a>

							</li>





							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="#links-06-370451"
									target="_blank"><span class="button__text">Features</span>
								</a>

							</li>





							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="#testimonials-01-637521"
									target="_blank"><span class="button__text">Testimonials</span>
								</a>

							</li>





							<li class="nav-02__item">


								<div class="buttons-set">
									<ul class="buttons-set__list">
										<li class="buttons-set__item"><a data-stripe-product-id=""
												data-stripe-mode="payment" data-successful-payment-url=""
												data-cancel-payment-url="" class="button button--black-bg "
												href="https://github.com/nickatnight/elonmu.sh" target="_blank"><span
													class="button__text">GitHub</span></a></li>
									</ul>
								</div>

							</li>
						</ul>
						<ul class="nav-02__list nav-02__list--mobile">








							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="/" target="_blank"><span
										class="button__text">Home</span>
								</a>

							</li>





							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="#links-06-370451"
									target="_blank"><span class="button__text">Features</span>
								</a>

							</li>





							<li class="nav-02__item">

								<a class="button   button--black-outline  button--empty " href="#testimonials-01-637521"
									target="_blank"><span class="button__text">Testimonials</span>
								</a>

							</li>





							<li class="nav-02__item">


								<div class="buttons-set">
									<ul class="buttons-set__list">
										<li class="buttons-set__item"><a data-stripe-product-id=""
												data-stripe-mode="payment" data-successful-payment-url=""
												data-cancel-payment-url="" class="button button--black-bg "
												href="https://github.com/nickatnight/elonmu.sh" target="_blank"><span
													class="button__text">GitHub</span></a></li>
									</ul>
								</div>

							</li>
						</ul>
					</div>


					<div class="nav-02__burger">
						<button class="burger burger--black js-open-menu" type="button">
							<div class="burger__box">
								<div class="burger__inner"></div>
							</div>
						</button>
					</div>


				</div>
			</div>
		</div>
	</nav>













	<div class="page-component__bg_image_box    bg-light-color  first_component  " id="header-23-140891">

		<div class="page-component__bg_overlay_box " style="">

		</div>

		<div class="page-component__wrapper" style="z-index: 14;padding-top:70px;padding-bottom:70px;">





			<header class="header-23 graphics-image default-graphics-image">
				<div class="container container--large header-23__container">
					<div class="header-23__left">
						<div class="header-23__left_content">


							<h1 class="heading heading--accent header-23__heading ">MaaS: Musk as a Service</h1>



							<div class="header-23__text content_box ">
								<p>Get Random News Articles Featuring Our Lord and Savior Elon Musk Using This Free Public API!</p>
							</div>

							<div class="header-23__cta_box">


								<div class="buttons-set">
									<ul class="buttons-set__list">
										<li class="buttons-set__item"><a data-stripe-product-id=""
												data-stripe-mode="payment" data-successful-payment-url=""
												data-cancel-payment-url="" class="button button--accent-outline "
												href="/api" target="_blank"><span class="button__text">API</span></a>
										</li>
										<!-- <li class="buttons-set__item"><a data-stripe-product-id=""
												data-stripe-mode="payment" data-successful-payment-url=""
												data-cancel-payment-url="" class="button button--accent-bg "
												href="/docs" target="_blank"><span class="button__text">Docs</span></a>
										</li> -->
									</ul>
									<div class="content_box cta_bottom_info ">Free public API for all Elon Musk
										enthusiasts.</div>
								</div>

							</div>
						</div>
					</div>
					<div class="header-23__right">
						<img class="header-23__img" alt="07107"
							src="https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png"
							srcset="https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=290&amp;height=182 290w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=345&amp;height=216 345w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=395&amp;height=247 395w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=480&amp;height=300 480w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=500&amp;height=313 500w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=620&amp;height=388 620w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=580&amp;height=364 580w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=690&amp;height=432 690w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=790&amp;height=494 790w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=960&amp;height=600 960w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=1000&amp;height=626 1000w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=1240&amp;height=776 1240w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=870&amp;height=546 870w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=1035&amp;height=648 1035w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=1185&amp;height=741 1185w,https://unicorn-cdn.b-cdn.net/50dc0dd1-aec3-45bf-9103-f8f2bc1536dd/07107.png?width=1280&amp;height=800 1280w,"
							sizes="(max-width: 320px) 290px,(max-width: 375px) 345px,(max-width: 425px) 395px,(max-width: 600px) 480px,(max-width: 1020px) 500px,620px" />
					</div>
				</div>
			</header>


		</div>
	</div>










	<div class="page-component__bg_image_box    bg-light_gray-color  " id="links-06-370451">

		<div class="page-component__bg_overlay_box " style="">

		</div>

		<div class="page-component__wrapper" style="z-index: 13;padding-top:50px;padding-bottom:10px;">




			<div class="features-01">





				<div class="container container--small">
					<div class="title-box title-box--center">


						<h2 class="heading ">Our Features</h2>



						<div class="title-box__text content_box ">
							<p>Explore what elonmu.sh has to offer.</p>
						</div>

					</div>
				</div>

				<div class="container">
					<ul class="features-01__items">


						<li class="features-01__item">



							<div class="feature   ">
								<h3 class="feature__title">

									<div class="feature__icon">
										<span class="icon"
											data="{&#39;type&#39;: &#39;abstractIcon&#39;, &#39;emojiSrc&#39;: &#39;1f381.svg&#39;, &#39;uploadedSrc&#39;: &#39;&#39;, &#39;lineaIconSrc&#39;: &#39;&#39;, &#39;abstractIconId&#39;: &#39;4&#39;, &#39;uploadedHeight&#39;: 30}">




											<svg width="40" height="40" viewBox="0 0 40 40"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<circle fill="#E9F1FF" class="fill-bg-light" cx="20" cy="20"
														r="20" />
													<path fill="#4D61FC" class="fill-main" d="M20 13l7 8.235H13z" />
													<path stroke="#E9F1FF" class="stroke-light fill-secondary"
														fill="#00396B" d="M20 17.588L28 27H12z" />
												</g>
											</svg>



										</span>
									</div>

									<span class="feature__title_text">
										Diverse Perspectives
									</span>
								</h3>
								<div class="feature__content">
									<span class="feature__content_text content_box">
										Our API sources from a wide range of news outlets, providing a balanced and
										comprehensive view.
									</span>
								</div>

							</div>


						</li>



						<li class="features-01__item">



							<div class="feature   ">
								<h3 class="feature__title">

									<div class="feature__icon">
										<span class="icon"
											data="{&#39;type&#39;: &#39;abstractIcon&#39;, &#39;emojiSrc&#39;: &#39;1f381.svg&#39;, &#39;uploadedSrc&#39;: &#39;&#39;, &#39;lineaIconSrc&#39;: &#39;&#39;, &#39;abstractIconId&#39;: &#39;4&#39;, &#39;uploadedHeight&#39;: 30}">




											<svg width="40" height="40" viewBox="0 0 40 40"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<circle fill="#E9F1FF" class="fill-bg-light" cx="20" cy="20"
														r="20" />
													<path fill="#4D61FC" class="fill-main" d="M20 13l7 8.235H13z" />
													<path stroke="#E9F1FF" class="stroke-light fill-secondary"
														fill="#00396B" d="M20 17.588L28 27H12z" />
												</g>
											</svg>



										</span>
									</div>

									<span class="feature__title_text">
										Time-Saving
									</span>
								</h3>
								<div class="feature__content">
									<span class="feature__content_text content_box">
										Get instant access to relevant articles, saving you valuable time.
									</span>
								</div>

							</div>


						</li>



						<li class="features-01__item">



							<div class="feature   ">
								<h3 class="feature__title">

									<div class="feature__icon">
										<span class="icon"
											data="{&#39;type&#39;: &#39;abstractIcon&#39;, &#39;emojiSrc&#39;: &#39;1f381.svg&#39;, &#39;uploadedSrc&#39;: &#39;&#39;, &#39;lineaIconSrc&#39;: &#39;&#39;, &#39;abstractIconId&#39;: &#39;4&#39;, &#39;uploadedHeight&#39;: 30}">




											<svg width="40" height="40" viewBox="0 0 40 40"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<circle fill="#E9F1FF" class="fill-bg-light" cx="20" cy="20"
														r="20" />
													<path fill="#4D61FC" class="fill-main" d="M20 13l7 8.235H13z" />
													<path stroke="#E9F1FF" class="stroke-light fill-secondary"
														fill="#00396B" d="M20 17.588L28 27H12z" />
												</g>
											</svg>



										</span>
									</div>

									<span class="feature__title_text">
										Free and Accessible
									</span>
								</h3>
								<div class="feature__content">
									<span class="feature__content_text content_box">
										Open to everyone, our API is an invaluable tool for researchers, journalists,
										and enthusiasts.
									</span>
								</div>

							</div>


						</li>



						<li class="features-01__item">



							<div class="feature   ">
								<h3 class="feature__title">

									<div class="feature__icon">
										<span class="icon"
											data="{&#39;type&#39;: &#39;abstractIcon&#39;, &#39;emojiSrc&#39;: &#39;1f381.svg&#39;, &#39;uploadedSrc&#39;: &#39;&#39;, &#39;lineaIconSrc&#39;: &#39;&#39;, &#39;abstractIconId&#39;: &#39;4&#39;, &#39;uploadedHeight&#39;: 30}">




											<svg width="40" height="40" viewBox="0 0 40 40"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<circle fill="#E9F1FF" class="fill-bg-light" cx="20" cy="20"
														r="20" />
													<path fill="#4D61FC" class="fill-main" d="M20 13l7 8.235H13z" />
													<path stroke="#E9F1FF" class="stroke-light fill-secondary"
														fill="#00396B" d="M20 17.588L28 27H12z" />
												</g>
											</svg>



										</span>
									</div>

									<span class="feature__title_text">
										Efrortless Updates
									</span>
								</h3>
								<div class="feature__content">
									<span class="feature__content_text content_box">
										Automatically receive news articles mentioning Elon Musk, eliminating the need
										for manual searches.
									</span>
								</div>

							</div>


						</li>



						<li class="features-01__item">



							<div class="feature   ">
								<h3 class="feature__title">

									<div class="feature__icon">
										<span class="icon"
											data="{&#39;type&#39;: &#39;abstractIcon&#39;, &#39;emojiSrc&#39;: &#39;1f381.svg&#39;, &#39;uploadedSrc&#39;: &#39;&#39;, &#39;lineaIconSrc&#39;: &#39;&#39;, &#39;abstractIconId&#39;: &#39;4&#39;, &#39;uploadedHeight&#39;: 30}">




											<svg width="40" height="40" viewBox="0 0 40 40"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<circle fill="#E9F1FF" class="fill-bg-light" cx="20" cy="20"
														r="20" />
													<path fill="#4D61FC" class="fill-main" d="M20 13l7 8.235H13z" />
													<path stroke="#E9F1FF" class="stroke-light fill-secondary"
														fill="#00396B" d="M20 17.588L28 27H12z" />
												</g>
											</svg>



										</span>
									</div>

									<span class="feature__title_text">
										Always current
									</span>
								</h3>
								<div class="feature__content">
									<span class="feature__content_text content_box">
										With continuous updates, you're guaranteed to stay informed about the latest
										developments and insights.
									</span>
								</div>

							</div>


						</li>


					</ul>
					<div class="bottom_cta">


						<div class="buttons-set">
							<ul class="buttons-set__list">
								<li class="buttons-set__item"><a data-stripe-product-id="" data-stripe-mode="payment"
										data-successful-payment-url="" data-cancel-payment-url=""
										class="button button--accent-outline "
										href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><span
											class="button__text">Learn More</span></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>










	<div class="page-component__bg_image_box    page-component__bg_image_box--dark-bg  bg-accent-color  "
		id="testimonials-01-637521">

		<div class="page-component__bg_overlay_box " style="">

		</div>

		<div class="page-component__wrapper" style="z-index: 12;padding-top:40px;">



			<div class="testimonials-01  slider_with_dots_inside ">





				<div class="container container--small">
					<div class="title-box title-box--center">


						<h2 class="heading  text-white">What Users Say</h2>



						<div class="title-box__text content_box  text-white">Hear from our satisfied users.</div>

					</div>
				</div>

				<div class="testimonials-01__container container">
					<div class="slider">
						<div class="slider__arrow slider__arrow--prev">
							<button class="circle-button js-prev-arrow circle-button--icon circle-button--light-bg"
								type="button"><span class="icon"><svg width="24" height="17" viewBox="0 0 24 17"
										xmlns="http://www.w3.org/2000/svg">
										<g id="styleguide" fill="none" fill-rule="evenodd">
											<g id="Unicorn-Styleguide" transform="translate(-121 -2006)"
												fill-rule="nonzero" fill="#00396B" class="fill-main">
												<g id="Icons" transform="translate(55 1963)">
													<g id="arrow-pointing-to-right" transform="translate(66 43)">
														<path
															d="M23.673 7.688L16.531.336a1.094 1.094 0 0 0-1.578 0 1.173 1.173 0 0 0 0 1.625l5.237 5.39H1.116C.5 7.351 0 7.866 0 8.5s.5 1.149 1.116 1.149H20.19l-5.237 5.39a1.173 1.173 0 0 0 0 1.625 1.097 1.097 0 0 0 1.578 0l7.142-7.352a1.173 1.173 0 0 0 0-1.624z"
															id="Shape" transform="matrix(-1 0 0 1 24 0)" />
													</g>
												</g>
											</g>
										</g>
									</svg></span>
							</button>
						</div>
						<div class="slider__arrow slider__arrow--next">
							<button class="circle-button js-next-arrow circle-button--icon circle-button--light-bg"
								type="button"><span class="icon"><svg viewBox="0 0 13 10"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12.823 4.164L8.954.182a.592.592 0 0 0-.854 0 .635.635 0 0 0 0 .88l2.836 2.92H.604A.614.614 0 0 0 0 4.604c0 .344.27.622.604.622h10.332L8.1 8.146a.635.635 0 0 0 0 .88.594.594 0 0 0 .854 0l3.869-3.982a.635.635 0 0 0 0-.88z"
											fill-rule="nonzero" fill="#00396B" class="fill-main" />
									</svg></span>
							</button>
						</div>
						<ul class="slider__box js-slider"
							data-slider-config="{&quot;dots&quot;: true, &quot;infinite&quot;: true, &quot;speed&quot;: 300, &quot;fade&quot;: false, &quot;cssEase&quot;: &quot;ease&quot;, &quot;adaptiveHeight&quot;: false, &quot;lazyLoad&quot;: &quot;ondemand&quot;, &quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}">

							<li class="slider__item">
								<div class="testimonials-01__item">




									<img loading="lazy" alt="" class="testimonials-01__logo" height="30"
										src="static/img/logos/companies/apple.svg" />



									<div class="content_box">
										<div class="testimonials-01__text"><i>The elonmu.sh API has transformed how I
												gather news for my tech articles. It's a time-saver and a treasure trove
												of diverse, up-to-date information about Elon Musk's ventures.</i>
										</div>
									</div>
									<div class="testimonials-01__author">Samantha R., Technology Journalist</div>
									<div class="testimonials-01__box">

										<div class="feature__button_box">












											<a data-stripe-product-id="" data-stripe-mode="payment"
												data-successful-payment-url="" data-cancel-payment-url=""
												class="button button--empty  button--accent-outline"
												href="/testimonials" target="_blank">
												<span class="button__text">Read More</span>
												<span class="icon">
													<svg viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg">
														<path
															d="M12.823 4.164L8.954.182a.592.592 0 0 0-.854 0 .635.635 0 0 0 0 .88l2.836 2.92H.604A.614.614 0 0 0 0 4.604c0 .344.27.622.604.622h10.332L8.1 8.146a.635.635 0 0 0 0 .88.594.594 0 0 0 .854 0l3.869-3.982a.635.635 0 0 0 0-.88z"
															fill-rule="nonzero" fill="#00396B"></path>
													</svg>
												</span>
											</a>


										</div>

									</div>
								</div>
							</li>

							<li class="slider__item">
								<div class="testimonials-01__item">




									<div class="content_box">
										<div class="testimonials-01__text"><i>As a developer interested in tech trends,
												the elonmu.sh API has been invaluable. It provides quick access to a
												wide range of articles on Musk, enriching my projects with varied
												insights.</i>
										</div>
									</div>
									<div class="testimonials-01__author">Jake L., Software Developer</div>
									<div class="testimonials-01__box">

									</div>
								</div>
							</li>

							<li class="slider__item">
								<div class="testimonials-01__item">




									<div class="content_box">
										<div class="testimonials-01__text"><i>For my research on innovation, the
												elonmu.sh API is a fantastic resource. It offers a broad spectrum of
												articles about Musk, enhancing the depth and quality of my academic
												work.</i>
										</div>
									</div>
									<div class="testimonials-01__author">Maria G., University Researcher</div>
									<div class="testimonials-01__box">

									</div>
								</div>
							</li>

						</ul>
					</div>
					<div class="bottom_cta">


						<div class="buttons-set">
							<ul class="buttons-set__list">
								<li class="buttons-set__item"><a data-stripe-product-id="" data-stripe-mode="payment"
										data-successful-payment-url="" data-cancel-payment-url=""
										class="button button--white-bg "
										href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><span
											class="button__text">Join Us</span></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
	</div>










	<div class="page-component__bg_image_box    bg-light-color  " id="clients-02-375571">

		<div class="page-component__bg_overlay_box " style="">

		</div>

		<div class="page-component__wrapper" style="z-index: 11;padding-top:50px;padding-bottom:50px;">



			<div class="clients-03">





				<div class="container container--small">
					<div class="title-box title-box--center">


						<h2 class="heading ">Our Partners</h2>



					</div>
				</div>

				<div class="container container--mid">
					<ul class="clients-03__list">



						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="30"
									src="static/img/logos/companies/facebook.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="20"
									src="static/img/logos/companies/ibm.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="30"
									src="static/img/logos/companies/dribbble.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="20"
									src="static/img/logos/companies/microsoft.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="30"
									src="static/img/logos/companies/adobe.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="30"
									src="static/img/logos/companies/invision.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="30"
									src="static/img/logos/companies/apple.svg" />



							</span>

						</li>




						<li class="clients-03__item">

							<span class="clients-03__img_box">



								<img loading="lazy" alt="" class="clients-03__logo" height="40"
									src="static/img/logos/companies/virgin.svg" />



							</span>

						</li>


					</ul>
					<div class="bottom_cta">


						<div class="buttons-set">
							<ul class="buttons-set__list">
								<li class="buttons-set__item"><a data-stripe-product-id="" data-stripe-mode="payment"
										data-successful-payment-url="" data-cancel-payment-url=""
										class="button button--accent-outline "
										href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><span
											class="button__text">Become a Partner</span></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>










	<div class="page-component__bg_image_box    page-component__bg_image_box--dark-bg  bg-mature-color   page-component__bg_image_box--has-image "
		id="cta_button-16-466211"
		style="background-image: url('https://unicorn-cdn.b-cdn.net/b0e121c4-9c33-4299-b938-e6ac34746e2a/')">

		<div class="page-component__bg_overlay_box " style="opacity: 0.8;">

		</div>

		<div class="page-component__wrapper" style="z-index: 10;padding-top:70px;padding-bottom:70px;">

			<div class="cta_button-16">
				<div class="cta_button-16__wrapper container container--mid">





					<div class="container container--small">
						<div class="title-box title-box--center">


							<h2 class="heading  text-white">Ready to dive into the world of Elon Musk?</h2>



							<div class="title-box__text content_box  text-white">Join elonmu.sh today and never miss out
								on any news about Elon Musk.</div>

						</div>
					</div>

					<div class="container container--mid">
						<div class="cta_button-16__button_box">


							<div class="buttons-set">
								<ul class="buttons-set__list">
									<li class="buttons-set__item"><a data-stripe-product-id=""
											data-stripe-mode="payment" data-successful-payment-url=""
											data-cancel-payment-url="" class="button button--white-outline "
											href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><span
												class="button__text">Sign Up</span></a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



















	<div class="bg-black-color">
		<footer class="footer-04 footer-04--dark" id="footer" style="">
			<div class="footer-04__top">
				<div class="container">
					<div class="footer-04__top_wrapper  text-white ">




						<div class="footer-04__col">


							<div class="footer-04__info content_box">
								<p>© 2024 elonmu.sh All rights reserved.</p>
							</div>

						</div>





						<div class="footer-04__col">
							<h3 class="footer-04__title">Company</h3>
							<ul class="footer-04__list">


								<li class="footer-04__item">
									<a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"
										class="footer-04__link">
										About Us
									</a>
								</li>



								<li class="footer-04__item">
									<a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"
										class="footer-04__link">
										Contact Us
									</a>
								</li>










							</ul>
						</div>



						<div class="footer-04__col">
							<h3 class="footer-04__title">Resources</h3>
							<ul class="footer-04__list">






								<li class="footer-04__item">
									<a href="/docs" target="_blank" class="footer-04__link">
										API Documentation
									</a>
								</li>



								<li class="footer-04__item">
									<a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"
										class="footer-04__link">
										Terms of Service
									</a>
								</li>






							</ul>
						</div>



						<div class="footer-04__col">

							<h3 class="footer-04__title">Follow us</h3>

							<div class="footer-04__social_box">


								<div class="social-buttons  social-buttons--left ">
									<ul class="social-buttons__list">
										<li class="social-buttons__item"><a
												class="social-buttons__link social-buttons__link--facebook"
												href="https://www.facebook.com/ElonMush" target="_blank"><img
													loading="lazy" class="social-buttons__icon" alt="facebook icon"
													src="static/img/icons/social/color/facebook.svg" /></a></li>
										<li class="social-buttons__item"><a
												class="social-buttons__link social-buttons__link--twitter"
												href="https://www.twitter.com/ElonMush" target="_blank"><img
													loading="lazy" class="social-buttons__icon" alt="twitter icon"
													src="static/img/icons/social/color/x.svg" /></a></li>
									</ul>
								</div>

							</div>
						</div>

					</div>
				</div>




				<div class="footer-04__bottom">
					<div class="container">
						<div class="footer-04__bottom_wrapper footer-04__bottom_wrapper--center">



							<div class="buttons-set">
								<ul class="buttons-set__list">
									<li class="buttons-set__item"><a data-stripe-product-id=""
											data-stripe-mode="payment" data-successful-payment-url=""
											data-cancel-payment-url="" class="button button--accent-outline "
											href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><span
												class="button__text">Subscribe to Newsletter</span></a></li>
								</ul>
							</div>


							<ul class="footer-04__bottom_links  text-white ">



							</ul>
						</div>
					</div>
				</div>





			</div>
		</footer>
	</div>







	<div class="by-unicorn-platform by-unicorn-platform--fixed">
		<!-- <a class="by-unicorn-platform__link" href="https://unicornplatform.com/?ref=user_website" target="_blank"
			title="This page was made in Unicorn Platform">Runs on
			<img loading="lazy" class="by-unicorn-platform__logo" src="static/img/logos/unicorn-platform-logo.svg"
				height="12" width="12" alt="Unicorn Platform logo"><b>Unicorn Platform</b></a> -->
		<a href="https://github.com/nickatnight/elonmu.sh/releases"><img alt="Release Status" src="https://img.shields.io/github/v/release/nickatnight/elonmu.sh"></a>
	</div>



	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>


	<style>
		.page-component__bg_image_box .page-component__bg_image_box .page-component__bg_overlay_box {
			position: relative;
		}

		body .page-component__bg_overlay_box {
			position: absolute;
		}

		.footer-02__text.content_box a {
			color: inherit !important;
		}

		.footer-04__info {
			font-size: 14px;
		}
	</style>






</body>

</html>