<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <meta name="description" content="API to fetch random news articles about our Lord and Savior Elon Musk">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://elonmu.sh/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="elonmu.sh">
    <meta property="og:description" content="API to fetch random news articles about our Lord and Savior Elon Musk">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="elonmu.sh">
    <meta property="twitter:url" content="https://elonmu.sh/">
    <meta name="twitter:title" content="elonmu.sh">
    <meta name="twitter:description" content="API to fetch random news articles about our Lord and Savior Elon Musk">
    <meta name="twitter:image" content="">
    <title>elonmu.sh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container center">
        <h3 class="header">🤖 ElonMu.sh 🤖</h3>
        <p>A free API for fetching random news articles which mention our Lord and Savior Elon Musk</p>
        <p>
            <a href="/api"><button id="apiButton" class="btn-small" href="/api"><i class="material-icons right">bolt</i>API</button></a>
        </p>
        <a href="https://github.com/nickatnight/elonmu.sh">
            <img src="https://img.shields.io/github/stars/nickatnight/elonmu.sh?style=social" alt="Github Link">
        </a>
        <a href="https://github.com/nickatnight/elonmu.sh/releases"><img alt="Release Status" src="https://img.shields.io/github/v/release/nickatnight/elonmu.sh"></a>
        <p>Made with ❤️ from California</p>
    </div>
</body>
</html>
